.switch {
    display: inline-block;
    position: relative;
    width: 44px;
    height: 22px;
    text-align: center;
  }
  
  .switch-toggle {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 100px;
    transition: all 0.3s;
  }
  
  .switch-toggle.on {
    background-color: #1677FF;
    opacity: 0.5;
 
  }
 
  
  .switch-toggle.off {
    background: rgba(0,0,0,.25);
    opacity: 0.5;
 
  }
 .open{
    font-size: 13px;
    color:  red !important ;
  }
  .switch-toggle::before {
    content: '';
    position: absolute;
    top: 2px;
    left: -1px;
 
    width: 18px;
    height: 19px;
    background-color: #fff;
    border-radius: 50%;
    transition: all 0.3s;
  }
  
  .switch-toggle.on::before {
    transform: translateX(25px);
  }
  
  .switch-toggle.off::before {
    transform: translateX(3px);
  }
  /* .open{
   color: red;
   font-size: 12px;
  
 
  }
   */
 